.App {
  font-family: sans-serif;
  text-align: center;
}
.navbar {
  background-color: seagreen;
}

.list {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;

  color: white;
}

li {
  text-decoration: none;
}
